@import '../sass/conf/conf';

@-webkit-keyframes pulsate {
    30% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    35% {
        opacity: 1.0;
    }

    40% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

.al-msg-center {
    float: right;
    padding: 0;
    list-style: none;
    margin: 13px 47px 0 0;

    li {
        list-style: none;
        float: left;
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }

        & > a {
            color: $sidebar-text;
            text-decoration: none;
            font-size: 13px;
            position: relative;

            span {
                display: inline-block;
                min-width: 10px;
                padding: 2px 4px 2px 4px;
                color: $sidebar-text;
                vertical-align: baseline;
                white-space: nowrap;
                text-align: center;
                border-radius: 13px;
                text-shadow: none;
                line-height: 11px;
                background-color: $danger;
                position: absolute;
                top: -5px;
                right: -14px;
                font-size: 11px;
            }

            .notification-ring {
                border: 1px solid $danger;
                border-radius: 100px;
                height: 40px;
                width: 40px;
                position: absolute;
                top: -18px;
                right: -27px;
                animation: pulsate 8s ease-out;
                animation-iteration-count: infinite;
                opacity: 0;
            }

            &:hover {
                color: $danger;

                &.msg {
                    color: $primary;
                }
            }

            &.msg {
                span {
                    background-color: $primary;
                }

                .notification-ring {
                    border-color: $primary;
                }
            }
        }

        &.open {
            & > a {
                color: $danger;

                &.msg {
                    color: $primary;
                }
            }
        }
    }
}

@media (max-width: $resXXS) {
    .al-msg-center {
        margin-right: 20px;

        li {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.msg-block-header {
    display: inline-block;
    padding: 0;
    font-size: 13px;
    margin: 0 0 0 6px;
}

.top-dropdown-menu {
    width: 316px;
    left: auto;
    right: -47px;
    top: 26px;

    @include scrollbars(0.4em, rgba(0, 0, 0, 0.5), #fff);

    .header {
        padding: 10px 12px;
        border-bottom: 1px solid $default;
        font-size: 12px;

        strong {
            float: left;
            color: $dropdown-text;
        }

        & > a {
            float: right;
            margin-left: 12px;
            text-decoration: none;

            &:hover {
                color: $dropdown-text;
            }
        }
    }

    .msg-list {
        max-height: 296px;
        overflow: scroll;
        overflow-x: hidden;

        & > a {
            border-top: 1px solid $default;
            padding: 10px 12px;
            display: block;
            text-decoration: none;
            color: $dropdown-text;
            font-size: 12px;

            &:first-child {
                border-top: none;
            }

            .img-area {
                float: left;
                width: 36px;

                img {
                    width: 36px;
                    height: 36px;

                    &.photo-msg-item {
                        border-radius: 18px;
                    }
                }

                & > div {
                    width: 36px;
                    height: 36px;
                    border-radius: 4px;
                    font-size: 24px;
                    text-align: center;

                    &.comments {
                        color: $warning;
                    }

                    &.orders {
                        color: $warning;
                    }

                    i {
                        width: 36px;
                        line-height: 36px;
                    }
                }
            }

            .msg-area {
                float: right;
                width: 230px;

                div {
                    max-height: 34px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span {
                    font-style: italic;
                    text-align: right;
                    display: block;
                    font-size: 11px;
                }
            }

            &:hover {
                background: #E2F0FF;
            }
        }
    }

    & > a {
        border-top: 1px solid $default;
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        text-decoration: none;

        &:hover {
            color: $dropdown-text;
        }
    }

    &.profile-dropdown {
        width: 145px;
        top: 55px;
        right: -25px;

        a {
            text-align: left;
            border: none;
            text-decoration: none;
            color: $dropdown-text;
            padding: 4px 16px 4px 20px;

            &.signout {
                border-top: 1px solid $default;
            }

            i {
                margin-right: 10px;
            }

            &:hover {
                background: #f4fcff;
            }
        }

        i.dropdown-arr {
            right: 25px;
        }
    }

    i.dropdown-arr {
        position: absolute;
        top: -22px;
        right: 42px;
        display: block;
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.15);

        &:after {
            top: -9px;
            left: 0px;
            margin-left: -10px;
            content: " ";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: $default;
        }
    }
}

@media (max-width: 415px) {
    .top-dropdown-menu {
        right: -81px;

        i.dropdown-arr {
            right: 75px;
        }
    }
}

.page-top {
    background-color: $sidebar;
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    height: 66px;
    width: 100%;
    min-width: $resMin;
    padding: 0 32px 0 40px;

    .dropdown-toggle::after {
        display: none;
    }
}

.blur {
    .page-top.scrolled {
        background-color: rgba(black, 0.85);
    }
}

a.al-logo {
    color: $sidebar-text;
    display: block;
    font-size: 24px;
    font-family: $font-family;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 60px;

    span {
        color: $primary;
    }
}

a.al-logo:hover {
    color: $primary;
}

.user-profile {
    float: right;
    min-width: 230px;
    margin-top: 10px;
}

.al-user-profile {
    float: right;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;

    ul.profile-dropdown:after {
        bottom: 100%;
        right: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-right: 28px;
    }

    a {
        display: block;
    }

    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

a.refresh-data {
    color: $sidebar-text;
    font-size: 13px;
    text-decoration: none;
    font-weight: $font-normal;
    float: right;
    margin-top: 13px;
    margin-right: 26px;

    &:hover {
        color: $warning !important;
    }
}

a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
    color: $sidebar-text;
    padding: 0;
    float: left;
    margin: 11px 0 0 25px;

    &:hover {
        text-decoration: none;
        color: $warning;
    }
}

.al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;

    .tpl-skin-panel {
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;

    @include bg("theme/palette.png");

    background-size: cover;
}

.search {
    text-shadow: none;
    font-size: 13px;
    line-height: 25px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 162px;
    float: left;
    margin: 20px 0 0 30px;

    label {
        cursor: pointer;
    }

    i {
        width: 16px;
        display: inline-block;
        cursor: pointer;
        padding-left: 1px;
        font-size: 16px;
        margin-right: 13px;
    }

    input {
        color: $sidebar-text;
        background: none;
        border: none;
        outline: none;
        width: 120px;
        padding: 0;
        margin: 0 0 0 -3px;
        height: 27px;
    }
}

@media screen and (max-width: $resS) {
    .search {
        display: none;
    }
}

@media screen and (max-width: $resXS) {
    .page-top {
        padding: 0 20px;
    }
}

@media (max-width: $resXXS) {
    .user-profile {
        min-width: 136px;
    }

    a.refresh-data {
        margin-right: 10px;
    }

    a.collapse-menu-link {
        margin-left: 10px;
    }

    .al-skin-dropdown {
        display: none;
    }
}

.profile-toggle-link {
    cursor: pointer;
}
